// Start up Commands

spawn-at-startup "xwayland-satellite"
// spawn-at-startup "dms" "run" // Commented by shell-switcher
// spawn-at-startup "qs" "-c" "noctalia-shell"
spawn-at-startup "sunshine"
spawn-at-startup "swayidle"

// To run a shell command (with variables, pipes, etc.), use spawn-sh-at-startup:
// spawn-sh-at-startup "qs -c ~/source/qs/MyAwesomeShell"

hotkey-overlay {
    // Uncomment this line to disable the "Important Hotkeys" pop-up at startup.
skip-at-startup
}
